footer
    .footer
        .footer__row
            .col-3
                +footerNav("Latest Posts", "Popular Posts")
            .col-3
                +footerNav("Search", "Contact Information")
            .col-3
                +footerNav("Privacy Policy", "Terms of Usen")
            .col-3
                .social-icons
                    a(href="#").social-icons__item
                        img(src="./img/icons/inst.svg", alt="Instagram")
                    a(href="#").social-icons__item
                        img(src="./img/icons/tw.svg", alt="Twitter")
                    a(href="#").social-icons__item
                        img(src="./img/icons/fb.svg", alt="Facebook")


    .copyright &copy; Copyright 2022. All rights reserved.
