header.header
    .header__social
        include ./social-icons.pug
        
    .header__logo
        a(href="#").logo
            h1 Hipsum Blog

    .header__right
        .header__right-search
            img(src="./img/icons/search.svg", alt="Search")
        .header__right-subscribe
            button.button-rounded Subscribe
