.pagination
    .pagination__resent 
        a(href="#").pagination__text-link recent posts
    .pagination__current
        .pagination__current-item.pagination__current-item--active
            a(href="#") 1
        .pagination__current-item
            a(href="#") 2 
        .pagination__current-item
            a(href="#") 3
    .pagination__older
        a(href="#").pagination__text-link older posts 