.share-icons
    a(href="#").share-icons__item
        img(src="./img/icons/wa.svg", alt="WhatsApp")
    a(href="#").share-icons__item
        img(src="./img/icons/inst.svg", alt="Instagram")
    a(href="#").share-icons__item
        img(src="./img/icons/tw.svg", alt="Twitter")
    a(href="#").share-icons__item
        img(src="./img/icons/fb.svg", alt="Facebook")