.widget
    .widget__title Recent posts
    +post-widget("Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments", "1.png")
    +post-widget("Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments", "2.png")
    +post-widget("Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments", "3.png")
    +post-widget("Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments", "4.png")
    +post-widget("Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments", "5.png")

.widget
    .widget__title Popular posts
    +post-widget("Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments", "1.png")
    +post-widget("Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments", "2.png")
    +post-widget("Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments", "3.png")
    +post-widget("Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments", "4.png")
    +post-widget("Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments", "5.png")
    
.widget
    .widget__title Instagram
    .insta-widget
        +insta-widget("1.jpg")
        +insta-widget("2.jpg")
        +insta-widget("3.jpg")
        +insta-widget("4.jpg")
        +insta-widget("5.jpg")
        +insta-widget("6.jpg")
        +insta-widget("7.jpg")
        +insta-widget("8.jpg")
        +insta-widget("9.jpg")
        +insta-widget("10.jpg")
        

