.social-icons
    a(href="#").social-icons__item
        img(src="./img/icons/inst.svg", alt="Instagram")
    a(href="#").social-icons__item
        img(src="./img/icons/tw.svg", alt="Twitter")
    a(href="#").social-icons__item
        img(src="./img/icons/fb.svg", alt="Facebook")