.button-rounded {
    background-color: #375573;
    border-radius: 50px;
    height: 38px;
    min-width: 152px;

    padding: 12px 40px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #FFFFFF;

    @extend %buttonsHover;
}

.button-readmore {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #fff;

    background-color: #375573;
    padding: 15px 30px;
    border-radius: 6px;
    min-width: 137px;
    height: 44px;

    &:visited {color: #fff}
    
    @extend %buttonsHover;
}